.modal{
    background-color: rgb(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-open{
    display: grid;
}

.modal__dialog{
    background-color: #357a38;
    padding: 10px 50px;
    width: 300px;
    height: 400px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__btn {
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: large;
    padding: 0.5rem 1.0rem;
    cursor: pointer;
}